.sass-cache
.sass-cache/*
/app/config/parameters.yml
/.sass-cache/*
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/bower_components/
/node_modules/
/web/assets-dev/vendor/*
!/web/assets-dev/vendor/.gitkeep
/web/assets-built/*
!/web/assets-built/.gitkeep
web/uploads/google/feeds
web/uploads/avatars
web/uploads/banners
!web/uploads/banners/.gitkeep
web/media/cache
web/uploads/banners/
app/cache/dev
web/.idea
web/node_modules
web/tmp_uplods
